body{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrap{
    width: 200px;
    height: 200px;
    /* background-color: rgb(213, 228, 228); */
   
}
.rotate{ animation: rotate 1.6s linear infinite;}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

svg{
    width: 200px;
    height: 200px;
}
.circular{
    /* stroke-dasharray: 150,80;
     stroke-dashoffset: 50; */

     animation: circular-show 1.6s infinite;

}


@keyframes circular-show{
    0%{
        stroke-dasharray:10, 510 ;
        stroke-dashoffset:0 ;
    }
    50%{
        stroke-dasharray: 170, 510;
        stroke-dashoffset: -250;
    }
    100%{
        stroke-dasharray: 170, 510;
        stroke-dashoffset:-510 ;
    }
}
line{
    animation: line-show 1.6s ease-in-out infinite;
}

@keyframes line-show{
    0%{
        stroke-dasharray: 10,200;
        stroke-dashoffset:0;
    }
    50%{
        stroke-dasharray: 90, 200;
        stroke-dashoffset:-100;
    }
    100%{
        stroke-dasharray: 90,200;
        stroke-dashoffset:-200;
    }
}